@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.5%;

    --primary: 0 0% 9.4%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 95.7%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 95.7%;
    --muted-foreground: 0 0% 40.4%;

    --accent: 0 0% 95.7%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.4%;
    --input: 0 0% 89.4%;
    --ring: 0 0% 3.5%;
    --disabled: 0 0% 95%;

    --radius: 0.5rem;

    /* Custom colors */
    --ds-background-100: #fff;
    --ds-background-200: #fafafa;
    --accent-1: #fafafa;
    --accent-2: #eaeaea;
    --accent-3: #999999;
    --accent-4: #898989;
    --accent-5: #696969;
    --accent-6: #494949;
    --accent-7: #393939;
    --accent-8: #191919;
    --link-color: #007cf0;
    --primary-text: 9 9 9;
    --primary-blue: 0 112 243;
    --primary-gray: 102 102 102;

    /* Gradients */
    --blue-start-color: #007cf0;
    --blue-end-color: #00dfd8;
    --purple-start-color: #7928ca;
    --purple-end-color: #ff0080;
    --orange-start-color: #ff4d4d;
    --orange-end-color: #f9cb28;

    /* Const */
    --page-margin: 24px;
    --content-page-width: 1200px;
    --content-page-width-with-margin: 1248px;
    --page-width: 1400px;
    --page-width-with-margin: 1448px;
  }

  .dark {
    --background: 0 0% 3.5%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.5%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.5%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9.4%;

    --secondary: 0 0% 11.3%;
    --secondary-foreground: 0 0% 92.9%;

    --muted: 0 0% 11.3%;
    --muted-foreground: 0 0% 53.3%;

    --accent: 0 0% 11.3%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 15.3%;
    --input: 0 0% 15.3%;
    --ring: 0 0% 83.1%;
    --disabled: 0 0% 10%;

    /* Custom colors */
    --ds-background-100: #131313;
    --ds-background-200: #090909;
    --accent-1: #191919;
    --accent-2: #393939;
    --accent-3: #494949;
    --accent-4: #696969;
    --accent-5: #898989;
    --accent-6: #999999;
    --accent-7: #eaeaea;
    --accent-8: #fafafa;
    --primary-text: 250 250 250;
    --primary-gray: 136 136 136;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

/* Utility styles */
.max-width {
  @apply max-w-7xl;
}

.underline-link {
  @apply relative hover:after:absolute hover:after:bottom-0 hover:after:left-0 hover:after:right-0 hover:after:border-b hover:after:border-b-link hover:after:content-[''];
}

.pro-plan {
  --pricing-gradient-rotation: 0rad;
  border: 2px solid transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  position: relative;
  background-image: linear-gradient(
      hsl(var(--background)),
      hsl(var(--background))
    ),
    linear-gradient(
      calc(var(--pricing-gradient-rotation)),
      var(--accent-5) 0,
      var(--accent-3) 20%,
      transparent 80%
    );
}

.pro-plan::before {
  position: absolute;
  content: "";
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: inherit;
  border: 2px solid hsl(var(--border));
  z-index: -1;
}

/* Contact */

.contact-products-support-image {
  position: relative;
  opacity: 0;
}

.contact-products-support-image::before {
  content: "";
  height: 144px;
  width: 70px;
  position: absolute;
  left: -12px;
  top: -30px;
  z-index: 1;
  border-radius: 64px;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    var(--purple-start-color) 80%,
    transparent 100%
  );
  transform: rotate(30deg);
  filter: blur(20px);
}

.contact-products-support-image::after {
  content: "";
  height: 120px;
  width: 120px;
  position: absolute;
  left: -4px;
  top: 2px;
  z-index: 0;
  border-radius: 64px;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    var(--blue-start-color) 60%,
    transparent 100%
  );
  filter: blur(35px);
}

.contact-sales-support-shell {
  --contact-gradient-rotation: 3.14rad;
}

.contact-sales-support-form {
  background-origin: border-box;
  background-clip: padding-box, border-box;
  position: relative;
  border: 2px solid transparent;
  background-image: linear-gradient(
      hsl(var(--background)),
      hsl(var(--background))
    ),
    linear-gradient(
      calc(var(--contact-gradient-rotation)),
      var(--purple-end-color) 0,
      var(--purple-start-color) 20%,
      transparent 80%
    );
}

/* Dashboard */

.dashboard-submenu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
}

/* Gradients */
.animated-gradient-text-fade-blue {
  animation: fade-text-blue 8s infinite;
}

.animated-gradient-text-fade-purple {
  animation: fade-text-purple 8s infinite;
}

.animated-gradient-text-fade-orange {
  animation: fade-text-orange 8s infinite;
}

.animated-gradient-text-fade-blue-reverse {
  animation: fade-text-blue-reverse 8s infinite;
}

.animated-gradient-text-fade-purple-reverse {
  animation: fade-text-purple-reverse 8s infinite;
}

.animated-gradient-text-fade-orange-reverse {
  animation: fade-text-orange-reverse 8s infinite;
}

@keyframes fade-text-blue {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }

  33.333%,
  83.333% {
    opacity: 0;
  }
}

@keyframes fade-text-purple {
  0%,
  100% {
    opacity: 0;
  }

  33.333%,
  50% {
    opacity: 1;
  }

  16.667%,
  66.667% {
    opacity: 0;
  }
}

@keyframes fade-text-orange {
  0%,
  50%,
  100% {
    opacity: 0;
  }

  66.667%,
  83.333% {
    opacity: 1;
  }
}

@keyframes fade-text-blue-reverse {
  0%,
  16.667%,
  100% {
    opacity: 0;
  }

  33.333%,
  83.333% {
    opacity: 1;
  }
}

@keyframes fade-text-purple-reverse {
  0%,
  100% {
    opacity: 1;
  }

  33.333%,
  50% {
    opacity: 0;
  }

  16.667%,
  66.667% {
    opacity: 1;
  }
}

@keyframes fade-text-orange-reverse {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  66.667%,
  83.333% {
    opacity: 0;
  }
}
